# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
.pub-cache/
.pub/
.fvm/flutter_sdk
.flutter-plugins
.flutter-plugins-dependencies
lib/generated_plugin_registrant.dart
coverage/
doc/api/

# Sensitive files (API keys, environment variables)
.env
.env.*
key.properties
local.properties

# Generated Dart/JavaScript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# General development artifacts
*.class
*.log
*.pyc
*.swp
.DS_Store
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE specific
*.iml
*.ipr
*.iws
.idea/
.metadata  # Add this line

# VS Code (optional: uncomment to ignore)
#.vscode/

# Exceptions
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages